.env.dist
.env
.gitignore
.git
.idea
.dockerignore
infection.json.dist
phpstan.neon
.composer

features
public/bundles/
tests
var
vendor

behat.yml.dist
phpcs.xml
phpunit.xml.dist

Dockerfile
docker-compose.yml
docker-compose-dev.yml
README.md

mysql-data
